<div class="footer" style="background-color:#aa8585">
  <div class="container">
    <div class="col-md-12 text-center">
      <img src="assets/logos/logo.png" alt="Flat Able Logo" style="height: 60px;width: 110px" />
      <ul class="footer-menu">
        <li><a href="http://lucidatechnologies.com" style="color:black">Site</a></li>
        <li><a href="http://lucidatechnologies.com" style="color:black">Support</a></li>
        <li><a href="#" style="color:black">Terms</a></li>
        <li><a href="#" style="color:black">Privacy</a></li>
      </ul>
      <div class="footer-text">
        <p style="color:black">
          Copyright © 2018 Lucida Technologies. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</div>
